@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --rock-bg: #B99CF4;
  --rock-fg: black;
  --blues-bg: #DACDFF;
  --blues-fg: black;
  --classical-bg: #7E85FF;
  --classical-fg: black;
  --country-bg: #FE4E41;
  --country-fg: black;
  --disco-bg: #B1E8EA;
  --disco-fg: black;
  --hiphop-bg: #FFD24D;
  --hiphop-fg: black;
  --jazz-bg: #F2AC89;
  --jazz-fg: black;
  --metal-bg: #F39191;
  --metal-fg: black;
  --pop-bg: #4BE59A;
  --pop-fg: black;
  --reggae-bg: #80B9F1;
  --reggae-fg: black;


  --gray-0: #FAFAFA;
  --gray-5: #F2F2F2;
  --gray-30: #B3B3B3;
  --gray-blue: #E4E4EF;

  --text-primary: #1C1C1E;
  --text-secondary: #525252;

  --error-color: #f28b82;

  --filename-height: 3rem;
  --border-width: 2px;
  --drag-area-radius: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-primary);
}

.viewport {
  width: 100vw;
  height: 100vh;
  position: relative;
  /*overflow: hidden;*/
}

.content-container {
  display: flex;
  width: 100%;
  height: 200%;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
  flex-direction: column;
}

.page {
  display: flex;
  height: 100vh;
  padding: 12px 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-input-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.site-name {
  font-size: 48px;
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.btn {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  background-color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

.btn:disabled {
  background-color: #F2F2F2;
  color: #D3D3D3;
  cursor: none;
  pointer-events: none;    
}

.btn--run {
  background-color: #FFD24D;
  transition: transform 0.1s, opacity 0.3s;
}

.btn--run:hover:not(:disabled) {
  transform: translateY(-1px);
}

.btn--run:active:not(:disabled) {
  transform: translateY(0);
}

.show-result {
  transform: translateY(-50%);
}

.waveform {
  display: flex;
  height: 36px;
  width: 90%;
  max-width: 720px;
}

.task-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.task-name {
  color: #B3B3B3;
}

.metadata {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  font-size: 14px;
}

.metadata .name {
  font-size: 16px;
}

.author-block {
  font-weight: normal;
  color: #666;
}

.metadata .author {
  font-weight: bold; 
  color: #000;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  color: #B3B3B3;
}

.result .genre {
  font-size: 40px;
  font-weight: bold;
  line-height: 0.85;
  padding-bottom: 0.2em;
  color: #000;
}

.page-result {
  gap: 20px;
}

.btn--back {
  font-size: 14px;
  display: flex;
  gap: 4px;
}

.arrow-icon {
  /* Иконка станет такой же высоты, как заглавная буква текста */
  height: 1em;
  width: 1em;

  /* Чтобы иконка не "скакала" и стояла ровно по центру строки */
  vertical-align: middle; 
  
  /* Если используешь flex на кнопке (рекомендуется), 
     то vertical-align не нужен, используй это: */
  display: inline-block;
  flex-shrink: 0; /* Чтобы иконка не сжималась, если текста много */
}

.loader {
    width: 30px;
    height: 30px;
    border: 4px solid #cfcfcf;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none !important;
}

.bubble-chart {
    display: flex;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.chart-center {
    width: 1px;
    height: 1px;
    /* background-color: red; */
}

.bubble {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: min-content;
  aspect-ratio: 1 / 1;

  border-radius: 50%;
  padding: 0.5em;

  justify-content: center;
  align-items: center;

  font-size: 1px;
  font-weight: bold;
  transition: font-size 0.25s ease-in-out;

  transform: translate(-50%, -50%);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: grab;
}

.semi-bold-subtext {
  font-weight: 600;
  color: var(--text-secondary);
}

.file-upload {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
  max-width: 23rem;
  overflow: hidden;
  border-radius: var(--drag-area-radius);
}

.file-input-label {
  cursor: inherit;
}

.visual-link,
.text-hover {
  color: var(--text-primary);
}

.visual-link {
  text-decoration: underline;
  cursor: inherit;
}

.file-upload__drag-area {
  position: relative;
  isolation: isolate;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-0);
  border: var(--border-width) dashed var(--gray-blue);
  border-radius: var(--drag-area-radius);
  transition: border-color 0.3s ease, background-color 0.25s ease, height 0.3s ease;
  gap: 0.25rem;
  overflow: hidden;
  box-sizing: border-box;
}

.file-upload__drag-area::before {
  content: '';
  position: absolute; 
  inset: calc(-1 * var(--border-width));
  z-index: -1;
  background: url('./assets/img/tom-hardy.png');
  background-position: 50% 40%;  
  background-size: 45%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.1s ease-out;
  transform: translateZ(0);
}

.file-upload__drag-area:hover:not(.has-file) {
  border-color: var(--gray-30);
  cursor: pointer;
}

.file-upload__drag-area.is-dragging::before {
  opacity: 0.4;
  transition: opacity 0.8s ease-in;
}

.file-upload__drag-area.is-dragging {
  background-color: var(--gray-blue);
  border: var(--gray-30);
}

.file-upload__drag-area .text-hover {
  display: none;
}

.file-upload__drag-area.is-dragging .text-default {
  display: none;
}

.file-upload__drag-area.is-dragging .text-hover {
  display: block;
}

.file-upload__drag-area .file-upload__preview {
  display: none;
}

.file-upload__drag-area.has-file .file-input-label {
  display: none;
}

.file-upload__drag-area.has-file .file-upload__preview {
  display: flex;
}

.file-upload__drag-area.has-file {
  height: 3rem;
  border-style: solid;
}

.file-upload__preview {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.file-upload__name {
  margin-left: 1rem;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.btn-remove-file {
  height: var(--filename-height);
  aspect-ratio: 1;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-remove-file:hover {
  color: red;
}

.file-upload__error {
  position: absolute;
  background-color: var(--error-color);
  top: 0;
  padding: 0.3rem;
  font-size: 0.8rem;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  z-index: 1;
  transform: translateY(-100%);
  transition: transform 0.15s ease-in;
}

.file-upload__error.has-error {
  transform: translateY(0);
  transition: transform 0.25s ease-out;
}